<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">
      <i class="fa fa-plus"></i>
    </a>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
      <div class="panel-heading">
        
      <% @photos.each do |photo| %>
      <h3 <a href="/users/<%= photo.user.id %>"<%= photo.user.username %> class="panel-title">
      </a>
        <div class="panel-body">
          <a href="/photo/<%= photo.id %>" class="img-responsive"><image src="<%= photo.image %>"</a>
          <p>
            <i class="fa fa-heart"></i>
            <% photo.likes.each do |like| %>
              <% if like.user == current_user %>
                <form action="/delete_like/<%= photo.id %>" method="post" class="btn btn-link"></a>
                <% else %>
                <form action="/create_like" method="post" class="btn btn-link">
              <% end %>
              <%= like.user.username %>
            <% end %>
          </p>
          <% photo.comments.each do |comment| %>
            <ul class="media-list">
              <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                  <a href="/user/<%= comment.user.id %>"</a><%= comment.user.username %></h6>
                  <%= comment.body %>
                </div>
              </li>
            </ul>
          <% end %>
            <div class="btn-group btn-group-justified">
              <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show
              <i class="fa fa-chevron-left"></i>
              </a>
              <% if current_user == photo.user %>
                <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit
                <i class="fa fa-edit"></i>
                </a>
                <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete
                <i class="fa fa-trash-o"></i>
                </a>
              <% end %>
            </div>
        </div>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>